NUXT_SESSION_PASSWORD=password-with-at-least-32-characters
NUXT_OAUTH_GOOGLE_CLIENT_ID=secret
NUXT_OAUTH_GOOGLE_CLIENT_SECRET=secret-secret
NUXT_OAUTH_GITHUB_CLIENT_ID=secret
NUXT_OAUTH_GITHUB_CLIENT_SECRET=secret
NUXT_OAUTH_YANDEX_CLIENT_ID=secret
NUXT_OAUTH_YANDEX_CLIENT_SECRET=secret
DATABASE_URL="postgresql://user:password@localhost:5432/webbudget_devdb"
ADMIN_EMAIL=example@example.com 